body{
    display: flex;
    justify-content: center;
}

#calculator{
    display: flex;
    flex-direction: column;
    /* height: min; */
    width: 5rem;
    border: 1px solid red;

}

.buttons{
    display: flex;
    flex-wrap: wrap;
}
button{
    flex: 1;
    /* width: calc(100%/4); */

}
.clear{
    flex-grow: 2;
}
.calc{
    flex-grow: 2;
}
.display{
    align-self: end;
    height: 1.3rem;
    /* text-anchor: end; */
    /* direction: rtl; */

}