html{
    height: 100%;
}

body{
    background-color: #E14D2A;
    display: flex;
    justify-content: center;
    align-items: center;
    height:97%;
}

#calculator{
    display: flex;
    flex-direction: column;
    width: 30%;
    aspect-ratio: 1/1.2;
    background-color: #144272;
    border: 7px solid #0A2647;
    gap: 1rem;


}

.buttons{

    display: flex;
    flex-wrap: wrap; 
    margin: 2rem;
    /* gap: 1rem; */
    /* box-sizing: border-box; */
    /* gap: 1px; */
}
button{

    font-weight: 900;
    font-size: 2rem;
    width: 25%;
    flex-shrink: 0;
    background-color: #144272;
    border: 1px solid #2C74B3;
    border-radius: 5px ;
    box-sizing: border-box;
    padding: 15px;
    /* margin: 1px;  */
    opacity: 0.8;


}

button:hover{
    opacity: 1;
    background-color: #0A2647;
    /* color: red; */
    transition: 0.3s;

}

.clear,.calc{
    width: 50%;
}


.display{
    margin: 2rem;
    font-size: 3rem;
    /* align-self: end; */
    height: 3rem;
    border: 3px solid #2C74B3;
    text-align: end;


}